<!-- main.html -- главная страница -->
{% extends 'base.html' %}
{% block title %} Главная страница {% endblock %}
{% block content %}
<!-- источник: https://getbootstrap.com/docs/4.5/content/typography/#naming-a-source -->
<blockquote class="blockquote text-center">
   <p class="mb-0"><b>Прототип</b> –– абстрактный образ, воплощающий множество сходных форм
      одного и
      того же паттерна, наиболее репрезентативный пример понятия, фиксирующий его
      типичные свойства.
   </p>
   <footer class="blockquote-footer">[Ивин A.A. «Философия. Энциклопедический
      словарь» / A.A.
      Ивин // М.: Гардарики, 2004.— 1072 с]
   </footer>
</blockquote>
<br>
<br>
<p> Данный сайт посвящен выявлению самых прототипических сущностей определенных
   классов (например, среди фруктов или растений).
</p>
<p>
   Сбор данных осуществляется с помощью небольшой анкеты, которую можно найти
   в меню в вверху страницы.
</p>
<p>
   Анкета состоит из 10 вопросов. Чем
   меньше Вы размышляете над ответом на вопрос, тем лучше.
</p>
<p>
   После прохождения анкеты Вы cможете ознакомиться со статистическими результатами.
</p>
{% endblock %}